<h1>
  Shopping Cart
</h1>
<div class="row col-10" *ngIf="cart$ | async as cart">
  
  <p>
      You have {{cart.totalItemsCount}} products in your Shopping Cart.  
      <button 
        *ngIf="cart.items.length"
        (click)="clearCart()"
        class="btn btn-sm btn-ligth">Clear Shopping Cart</button>
  </p>

  

    <!-- Table -->
    <table class="table">
      <thead>
          <th class="text-center col-100"></th>
          <th>Product</th>
          <th class="text-center col-230">Quantity</th>
          <th class="text-right col-230">Price</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of cart.items">
          <td>
            <div [style.backgroundImage]="'url(' + item.imageUrl + ')'" class="thumbnail"></div>
          </td>
          <td>{{ item.title }}</td>
          <td><product-quantity [product]="item" [shopping-cart]="cart" ></product-quantity></td>
          <td class="text-right">{{ item.totalPrice | currency:'USD':true }}</td>
        </tr>
      </tbody>
      <tfoot>
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <th class="text-right">
                {{ cart.totalPrice | currency:'USD':true}}
              </th>
            </tr>
      </tfoot>
    </table>

<a 
*ngIf="cart.items.length"
routerLink="/check-out"
class="btn btn-sm btn-primary">Check Out</a>


</div>

