<div class="sticky-top">
        <ng-expandable-area [title]="'Todas las Categorías'">
<div class="list-group">
    <a
    class="list-group-item list-group-item-action"
    [class.active]="category === null"
    routerLink = "/" 
    >
    Todas las Categorías
    </a>
    <a    
    *ngFor="let c of categories$ | async"
    routerLink = "/" [queryParams]="{ category: c.$key }"
    class="list-group-item list-group-item-action"
    [class.active]="category === c.$key"
    >
    {{ c.itemName }}
    </a>
</div>
</ng-expandable-area>
</div>